* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial, sans-serif';
}

header {
  @apply bg-primary text-white p-4 flex justify-between items-center;
}

/* Participant Card */
.card {
  @apply bg-white shadow-lg rounded-lg w-full md:w-[30rem] mb-8;
}

.card img {
  @apply w-full h-48 object-cover;
}

.card h5 {
  @apply text-xl font-bold mt-4;
}

.card p {
  @apply mt-2;
}

.card a {
  @apply mt-4 inline-block bg-primary text-white px-4 py-2 rounded;
}