<div class="contact__container bg-gray-200 mt-12 p-6">
    <form id="form" class="contact__form space-y-6">
      <h2 class="text-2xl">Regístrate y vota al ganador de 2024</h2>
      <div class="contact__form-control">
        <label for="username" class="block mb-2">Usuario</label>
        <input type="text" id="username" class="form-control" placeholder="Introduzca un nombre de usuario">
        <small class="text-error hidden">Se ha producido un error</small>
      </div>
      <div class="contact__form-control">
        <label for="age" class="block mb-2">Edad</label>
        <input type="number" id="age" class="form-control" placeholder="Introduzca su edad">
        <small class="text-error hidden">Se ha producido un error</small>
      </div>
      <div class="contact__form-control">
        <label for="email" class="block mb-2">Correo electrónico</label>
        <input type="text" id="email" class="form-control" placeholder="Introduzca un email">
        <small class="text-error hidden">Se ha producido un error</small>
      </div>
      <button type="submit" class="w-full py-2 bg-primary text-white rounded">Enviar</button>
    </form>
  </div>
  